<div class="navborder">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded-pill">
    <a class="navbar-brand" href="/" style="font-family: Helvetica" title="3D Dev">3D Development</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="calendar">Calendar</a>
            </li>
        </ul>
    </div>
    </nav>
</div>