
body{
    background-image: url('https://static.skillshare.com/cdn-cgi/image/quality=85,width=1242,height=839,format=auto/uploads/project/339302/cover_1242_fdd8e1bd53b0870702e011981e79f456.jpg');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}
button{
    background-color: #4CAF50; /* Green */
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.nav-item{
    border-radius: 15px;
    border: 2px solid #D3D3D3;
    background-color: white;
    height: 100%;
    width: 500%;
    margin-right: 1%;
    }
.nav-item:hover{
    background-color: pink;
    color:white;
}
.navborder{
    border-radius: 100px;
    border: 2px solid #D3D3D3;
}
.bg-custom-2 {
    background-image: linear-gradient(15deg, #14204f 0%, #0e163b 100%);
    opacity: 90%;
}
