{% extends "layouts/base.html" %}
{% set project = "Calendar" %}

{% block body %}
<style>
    body{
        height: 110%;
        background-image: linear-gradient(15deg, #C2C8C5 0%, #4A707A 100%);
    }
</style>
<iframe style='transform: scale(1); float:left;display:block; height: 100vh; width: 75vh;' src="https://calendar.google.com/calendar/embed?src=jkh65gq54154fdi1o48fk29en4%40group.calendar.google.com&ctz=America%2FLos_Angeles"></iframe>
<div style="float:right;">
    <h3 style="padding-bottom: 5%;"> Upcoming Events </h3>
    <iframe style='transform: scale(1); float:right;display:block; height: 100vh; width: 23vh' src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&mode=AGENDA&src=amtoNjVncTU0MTU0ZmRpMW80OGZrMjllbjRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%239E69AF"></iframe>
</div>


{% endblock %}