{% extends "layouts/base.html" %}

{% set project = "Home" %}

{% block body %}

<style>
    .navbar{
        position: fixed;
        width: 100%;
        top: 0;
    }
    body{
        background-image: url('https://static.skillshare.com/cdn-cgi/image/quality=85,width=1242,height=839,format=auto/uploads/project/339302/cover_1242_fdd8e1bd53b0870702e011981e79f456.jpg');
        background-size: cover;
        height: 100vh;
        padding:0;
        margin:0;
    }
    button{
        background-color: #4CAF50; /* Green */
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    section{
        height: 100vh;
    }
    section:nth-of-type(2){
        background-image: linear-gradient(15deg, #C2C8C5 0%, #4A707A 100%);
    }
    h1{
        text-align: center;
    }

</style>

<section>
    <div class="container-fluid" style="padding-left: 50%; padding-top: 5%">
        <div class="card-transparent text-white text-center" style="width: 100%; height: 150%; border-radius:25px; border-style:solid; border-width: 5px; ">
            <div class="card-body d-flex justify-content-center opacity-0">
                <h1 class="card-title" style="font-size: 400%;">Del Norte 3D Development Club</h1>
            </div>
            <div class="card-footer"> Brought to you by Team grupy-grass </div>
        </div>
    </div>
    <div class="slideshow-container" style="padding-right: 50%; padding-bottom: 5%">
        <div class="mySlides fade">
            <img src="/assets/d39aaedf609e23dc3c8effd2d2b3ce49.png" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="assets/medic_gaming.png" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="unknown-7.png" style="width:100%">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</section>
<section>
    <h1>Our Club</h1>
    <p style="text-align: center; font-size:140%; padding-top: 2%;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </p>
</section>
<footer class="bg-dark text-center text-white">
    <div class="container p-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
        <div class="mb-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                eum harum corrupti dicta, aliquam sequi voluptate quas.
            </p>
        </div>
    </div>
</footer>
{% endblock %}