{% extends "layouts/base.html" %}

{% set project = "Home" %}

{% block body %}

<style>
    body{
        background-image: url('http://i.stack.imgur.com/kx8MT.gif');
        background-size: cover;



        height: 100vh;
        padding:0;
        margin:0;
    }
</style>

<body>
    <div>
        <div class="card text-white text-center bg-dark border-success" style="width: 50%">
            <div class="card-body justify-content-center">
                <h1 class="card-title">Del Norte 3D Development Club</h1>
            </div>
            <div class="card-footer"> Broght 2 u by grup grass </div>
    </div>
</body>