{% extends "layouts/base.html" %}

{% block body %}
<!DOCTYPE html>
<style>
    .sub{
        border: 2px solid white;
        border-radius: 10px;
    }
    body{
        background-color: #0e163b;
        height: 350%;
    }

</style>
<div class="container py-4 sub bg-dark">
    <h1 style="text-align: center">
        Resources
    </h1>
    <div class="table">
        <div class="row">
            <div class="col-6"><h3>Movement Script(Unity Basics 1)</h3><iframe width="420" height="315" src="https://www.youtube.com/embed/61K1s4kNPak"></iframe></div>
            <div class="col-6"><h3>Unity Basics 2</h3><iframe width="420" height="315" src="https://www.youtube.com/embed/kZLlVMH-CC8"></iframe></div>
            <div class="col-6"><h3>Blender Basics</h3><iframe width="420" height="315" src="https://www.youtube.com/embed/WAcWAEu_SBk"></iframe></div>
            <div class="col-6"><h3>Blender Basics 2</h3><iframe width="420" height="315" src="https://www.youtube.com/embed/tbNm0FWF7qs"></iframe></div>
            <div class="col-6"><h3>Blender Rigging</h3><iframe width="420" height="315" src="https://www.youtube.com/embed/zRjbQ3Jmhzl"></iframe></div>
            <div class="col-6"><h3>Blender Rigging 2</h3><iframe width="420" height="315" src="https://www.youtube.com/embed/8pqdqsHR190"></iframe></div>
            <div class="col-6"><h3>Game Development 1</h3><iframe width="420" height="315" src="https://www.youtube.com/embed/TWEDuPqC3BU"></iframe></div>
            <div class="col-6"><h3>Game Development 2</h3><iframe width="420" height="315" src="https://www.youtube.com/embed/26NbM7Q4rww"></iframe></div>
            <div class="col-6"><h3>Game Development 3</h3><iframe width="420" height="315" src="https://www.youtube.com/embed/0Y7q99KWqvc"></iframe></div>
            <div class="col-6"><h3>Game Development 4</h3><iframe width="420" height="315" src="https://www.youtube.com/embed/cR7FVpVD2X4"></iframe></div>

        </div>
    </div>
</div>

{%  endblock %}